.sidebar h1 {font-size: 2em;}
.sidebar h1 a {color: #666; text-decoration: none;}

.sidebar img {vertical-align: text-top;}
dt {margin-top: 1em;}

footer {
  border-top: 2px solid #ddd;
  background-color: #fafafa;
  margin-top: 3em;
  padding: 1em 0.5em 1.5em 0.5em;
  font-size: 90%;
  color: #666;
}
