## import all functions from the following pkgs
import("stats", "graphics", "grDevices")


## selective imports from pkgs 
importFrom("utils", "citHeader")
importFrom("mvtnorm", "rmvnorm")
importFrom("mclust", "hc", "hclass")
importFrom("foreach", "foreach", "%dopar%")
importFrom("parallel", "detectCores", "mclapply")
importFrom("doParallel", "registerDoParallel", "stopImplicitCluster")
importFrom("robustbase", "scaleTau2")


## export objects in /R
export(InitClust)
export(otrimle)
export(rimle)

S3method(plot,  otrimle)
S3method(plot,  rimle)
S3method(print, otrimle)
S3method(print, rimle)



export(kerndensmeasure)
export(kmeanfun)
export(ksdfun)
export(kerndensp)
export(kerndenscluster)
export(generator.otrimle)
export(otrimleg)
export(otrimlesimg)
export(summary.otrimlesimgdens)
export(print.summary.otrimlesimgdens)
export(plot.summary.otrimlesimgdens)


S3method(summary, otrimlesimgdens)
S3method(print,  summary.otrimlesimgdens)
S3method(plot,  summary.otrimlesimgdens)

## ## exports every object that doesn't start with a dot
## exportPattern("^[^\\.]")
