body {
    margin:20px 50px;
    padding: 0 0 10px 0;
    min-width:750px;
    background-color: white;
}

#header h1 {
    font-family:'Palatino Linotype', Palatino, 'URW Palladio L',Baskerville,'Bitstream Charter',serif; 
    font-size: 5em; 
    margin-bottom: 0px;
    font-weight: normal;
}

h1 {
    font-size: 2.2em; 
    font-weight:normal;
    color: #333;}

h2 {
    font-size:1.3em;
    margin-top: 1.5em;
}

h3 {
    font-size:1.17em;
}

#header img {
    padding: 0px 10px 0px 0px;
    vertical-align: -10%;
}

#rss {
    float:right;
    width: 10em;
    margin-top: -5em;
}

.page {float: right; margin-top: -1em; margin-right: 10em;}

body, td {
    font-family: Verdana,'DejaVu Sans', 'Lucida Grande', 'Bitstream Vera Sans', sans-serif;
    font-size:13px;
}

dl.inline { 
    padding: 0.1em 0 0.1em 0;
} 

dl.inline dt { 
    float: left; 
    width: 180px;
    text-align: left;
    font-weight: bold; 
    padding: 0.1em 0 0.1em 1em; 
} 

dl.inline dd {
    margin: 0 0 0 200px;
    padding: 0.1em 1em 0.1em 0; 
}

div#spacer {
    height:7px;
    width:100%;
    background-color:black;
    margin: 10px 0px 25px 0px;
    font-size:0;
}

div#navigation {
    float: left;
    width: 200px;
    text-align:center;
}

div#navigation ul {	
    margin: 0px;
    padding:0px;
}

div#navigation li {	
    list-style:none;
}

div#navigation a, div#navigation a:visited {
    font-size:1.3em;
    font-weight:bold;
    display:block;
    position:relative;
    color: #7382ab;
    text-decoration:none;
    padding:8px 10px 10px 0px;
    outline:none;
}

div#navigation a:hover, div#navigation a:active  {
    color: #3f4865;
}

div#navigation li.current a, div#navigation li.current a:visited  {
    color: black;
}

div#main {
    width: 100%;
}

div#content {
    margin-left:200px;
}

div#content a {
    color: #5a6488;
}

div#content blockquote {
    font-size:0.9em
}

div#content dl { 
    padding: 0.2em 0 0 0;
} 

div#content dt { 
    font-weight: bold; 
    padding: 0.1em 0 0.1em 1em; 
} 

div#content dd {
    padding: 0.1em 0 0.1em 0.2em; 
}

/* R colours
#484840 R dark grey
#cacac2 R grey
#3f4865 R extra dark blue
#5a6488 R v dark blue
#7382ab R dark blue
#8d9ecc R blue
#c0cafd R light blue
#e4ecff R very light blue
*/

pre {
    background-color: #eee;
    padding: 4px;
}