# Export all
# exportPattern("^[^\\.]")

import("mclust", "foreach", "iterators")

importFrom("BMA", bicreg)

importFrom("stats", df.residual, lm.fit, residuals)

importFrom("Matrix", bdiag)

export(clustvarsel, print.clustvarsel,
       clvarselgrfwd, clvarselgrbkw, 
       clvarselhlfwd, clvarselhlbkw, 
       BICreg, startParallel)

S3method("print", "clustvarsel")

