useDynLib(EMMIXmfa, "cgmf", .registration = TRUE)
exportMethods(summary)
export(minmis)
export(ari)
exportMethods(print)
export(mcfa)
export(mctfa)
export(mfa)
export(mtfa)
export(factor_scores)
export(plot_factors)
export(rmix)
export(gmf)
S3method(print, emmix)
S3method(plot, emmix)
S3method(plot, emmix)
S3method(summary, emmix)
S3method(predict, emmix)
S3method(predict, mcfa)
S3method(predict, mctfa)
S3method(predict, mfa)
S3method(predict, mtfa)
S3method(factor_scores, mcfa)
S3method(factor_scores, mctfa)
S3method(factor_scores, mfa)
S3method(factor_scores, mtfa)
importFrom("graphics", "axis", "pairs", "plot")
importFrom("stats", "cov", "kmeans", "mahalanobis", "rnorm", "runif",
             "uniroot")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "var")
