<meta name="citation_title" content="{{ page.title }}"/>
{% for author in page.author %}  
<meta name="citation_author" content="{{ author }}"/> {% endfor %}
<meta name="citation_publication_date" content="{{ page.issue }}"/>
<meta name="citation_journal_title" content="{{ site.title }}"/>
<meta name="citation_issue" content="{{ page.issue }}"/>
<meta name="citation_firstpage" content="{{ page.pages[0] }}"/>
<meta name="citation_lastpage" content="{{ page.pages[1] }}"/>
<meta name="citation_pdf_url" content="{{ page.pdf }}"/>


<meta property="dc:title" content="{{ page.title }}" />
<meta property="dc:format" content="text/html" />
<meta property="dc:language" content="en" />
<meta property="dc:identifier" content="{{ page.url }}" />
<meta property="dc:rights" content="{{ site.license }}" />
<meta property="dc:source" content="{{ site.title }}" />
<meta property="dc:subject" content="{{ site.subjects }}" /> 
<meta property="dc:type" content="Article" /> 
