export(KM, KMconstrained, KMsparse, KMconstrainedSparse,
       GM, GMcw, GMfj,
       KMppIni, KMppIniSparse,
       d2s, s2d)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom("stats", "aggregate")
useDynLib(GMKMcharlie, .registration = TRUE)
