---
layout: default
title: News and Notes
---

<h2>News and notes</h3>

<p>News and notes have also been published as separate files since issue 2013-1, in addition to being part of the issue itself.</p>

{% for issue in site.issues reversed %}
  {% if issue.issue != "accepted" %}
    {% if issue.issue >= '2013-1' %}
      <h3>{{ issue.issue }}</h3>
      {% for article in issue.articles %} 
        {% if article.heading == nil %}
         {% if article.landing == nil %}
          <p class="article">
            <a href="/archive/{{ issue.issue }}/{{ article.slug }}.pdf">
            {{ article.title }}</a>, 
            {% for auth in article.author %}{% if forloop.first %}{{auth}}{% elsif forloop.last == false %}, {{auth}}{% else %} and {{auth}}{% endif %}{% endfor %}, 
            {{ article.pages | join: "-"}}.
          </p>
         {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}

