useDynLib(DCEM, .registration=TRUE)
export(dcem_test)
export(dcem_train)
export(dcem_star_train)
export(meu_mv)
export(meu_uv)
export(dcem_predict)
importFrom("stats", "cov.wt")
importFrom("utils", "read.csv2")
importFrom("stats", "dnorm")
importFrom("stats", "sd")
importFrom("MASS", "mvrnorm")
importFrom("mvtnorm", "dmvnorm")
importFrom("stats", "na.omit")
importFrom("utils", "write.table")
importFrom(Rcpp, evalCpp)
importFrom("utils", "citation")

