
importFrom(stats, predict, cov, kmeans, rmultinom, na.omit, runif)
importFrom(graphics, plot, points, lines, par, abline, barplot, axis, legend, title, box)
importFrom(MASS, mvrnorm)
importFrom(utils, data)
importFrom(grDevices, devAskNewPage)
importFrom(rARPACK, eigs_sym)

export(hdda, hddc, hdmda, simuldata, demo_hddc, slopeHeuristic)
export(setHDclassif.show, getHDclassif.show)

S3method(predict, hdc)
S3method(predict, hdmda)
S3method(plot, hdc)
S3method(print, hd)
S3method(print, hdc)

# S3method("[[", hddc_all_results)
# S3method("[", hddc_all_results)
# S3method("$", hddc_all_results)
