useDynLib(pgmm,pgmm_c)

importFrom("graphics", "axis", "matplot", "par")
importFrom("stats", "cov.wt", "kmeans", "runif")

export(pgmmEM)

S3method(print, pgmm)
S3method(plot, pgmm)
S3method(summary, pgmm)