# useDynLib(MixSim)
import(MASS)

importFrom("grDevices", "dev.off", "pdf", "rgb")
importFrom("graphics", "axis", "box", "lines", "par", "plot", "polygon")
importFrom("stats", "dnorm", "qchisq", "qnorm", "rmultinom", "runif")

export(MixSim)
export(overlap)
export(pdplot)
export(simdataset)
export(RandIndex)
export(ClassProp)
export(VarInf)
export(perms)
export(MixGOM)
export(overlapGOM)
export(print.MixSim) 
export(summary.MixSim) 
export(print.MixGOM) 

S3method(print, MixSim)
S3method(summary, MixSim)
S3method(print, MixGOM)
