/* Set max width of content */
.container {
  max-width: 800px; /* Change the value to adjust the maximum width of your content */
  margin: 0 auto; /* Center the content */
}

/* Adjust margin of equations */
.MathJax_Display {
  margin: 100px 100px; /* Change the value to adjust the margin of your equations */
}

