---
navigation:
- text: "Home"
  url: "/index.html"
- text: "Current Issue"
  url: "/archive/2012-2" 
- text: "Accepted Articles"
  url: "/archive/accepted/" 
- text: "Archive"
  url: "/archive" 
- text: "Submissions"
  url: "/submissions.html" 
- text: "Editorial Board"
  url: "/board.html" 
---
<!DOCTYPE html>

<html>
<head>
  <title>{%if page_title %}{{page_title}}{% else %}{{page.title}}{% endif %}. The R Journal</title>
  <link rel="stylesheet" type="text/css" href="/r-journal.css">
  <link rel="alternate" type="application/rss+xml" title="Rjournal RSS feed"
    href="/rss.atom">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div id="header">
<h1>The <img src="/r-logo.png" width="101" height="77" alt="R" /> Journal</h1>

<p id="rss"><a href="/rss.atom"><img src="/rss.png" alt="">RSS Feed</a><br />
ISSN: 2073-4859</p>
</div>

<div id = "spacer"></div>

<div id="navigation"><ul>
{% for link in page.navigation %}
  {% if page.url == link.url %}
    {% assign current = 'current' %}
  {% else %}
    {% assign current = nil %}
  {% endif %}
  <li class="{{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
{% endfor %}
</ul></div>

<div id="content">
{{content}}
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40966673-1', 'r-project.org');
  ga('send', 'pageview');
</script>
</body>
</html>
