---
layout: default
---

{{content}}

{% for issue in site.issues %}
{% if issue.issue == page.issue %}

<h1>{{page.title}}</h1>

{% if issue.issue != "accepted" %}

<p><a href="RJournal_{{issue.issue}}.pdf">Complete issue</a></p>
<p><a href="index-bib.html">Complete bibliography</a></p>

<h2>Table of contents</h2>

<p>Editorial <span class="page">3</span></p>

{% endif %}

<h2>Contributed research articles</h2>

{% for article in issue.articles %} 
  {% if article.heading %}
<h3>{{article.heading}}</h3>
  {% else %}
<p>
  {% if article.type %}<strong>{{ article.type }}</strong><br />{% endif %}
  <a href="RJournal_{{issue.year}}-{{issue.num}}_{{article.slug}}.pdf">
  {{article.title}}</a><br />
  {{article.author | join: ", "}}
  {% if article.pages %}<span class="page">{{article.pages[0]}}</span>{% endif %}
</p>
  {% endif %}
{% endfor %}

{% if issue.issue != "accepted" %}

<h2>News and notes</h2>

{% for note in issue.notes %} 
<p>{{note.title}} <span class="page">{{note.page}}</span></p>
{% endfor %}

{% endif %}

{% endif %}
{% endfor %}
