---
comment: This is that layout for new-style issues (>2013-01)
layout: default
---

{{content}}

{% for issue in site.issues %}
{% if issue.issue == page.issue %}

<h1>{{page.title}}</h1>

<p><a href="RJ-{{issue.issue}}.pdf">Complete issue</a></p>
<p><a href="index-bib.html">Complete bibliography</a></p>

<h2>Table of contents</h2>

{% for article in issue.articles %} 
  {% if article.heading %}
<h3>{{article.heading}}</h3>
  {% else %}
<p class="article">
  {% if article.type %}<strong>{{ article.type }}</strong><br />{% endif %}
  <a href="{{article.slug}}.pdf">
  {{article.title}}</a><br />
  {{article.author | join: ", "}}
  {% if article.pages %}<span class="page">{{article.pages[0]}}</span>{% endif %}
</p>
  {% endif %}
{% endfor %}


{% endif %}
{% endfor %}
