---
layout: default
---

{% assign lbrace = '{' %}
{% assign rbrace = '}' %}

{% for issue in site.issues %}
{% if issue.issue == page.issue %}
<h1>Bibtex for {{issue.year}}/{{issue.num}}</h1>

<ul>
{% for article in issue.articles %}{% if article.slug %}
  <li>{{article.author | join: ", "}}. <a href="{% if article.landing %}../{{article.landing }}/{{article.slug}}/index.html{% else %}{{article.slug}}.pdf{% endif %}">{{article.title}}</a>. <i>The R Journal</i>, {{issue.volume}}({{issue.num}}):{{article.pages | join: "-"}}, {{issue.month}} {{issue.year}}.</li>
<pre>
@Article{{lbrace}}{{article.slug}}:{{issue.year}},
{% if article.bibauthor %}  author       = {{lbrace}}{{article.bibauthor | join: " and " }}{{rbrace}}, {% else %}  author       = {{lbrace}}{{article.author | join: " and "}}{{rbrace}}, {% endif %}
{% if article.bibtitle %}  title        = {{lbrace}}{{article.bibtitle}}{{rbrace}}, {% else %}  title        = {{lbrace}}{{article.title}}{{rbrace}}, {% endif %}
  journal      = {The R Journal},
  year         = {{issue.year}},
  volume       = {{issue.volume}},
  number       = {{issue.num}},
  pages        = {{lbrace}}{{article.pages | join: "--"}}{{rbrace}},
  month        = {{issue.bibmonth}},
  url          = {http://journal.r-project.org/archive/{{issue.year}}-{{issue.num}}/{% if article.landing %}{{article.old_slug }}{% else %}{{article.slug}}{% endif %}.pdf}
}
</pre>
  </li>
{% endif %}{% endfor %}
</ul>
{% endif %}
{% endfor %}
