---
comment: This is the layout for a landing page for single articles from 2017
layout: default
---

{{content}}

{% for issue in site.issues %}
 {% if issue.issue == page.issue %}

  {% for article in issue.articles %} 
   {% if article.slug == page.slug %}

    <h3>Accepted article</h3>
    This article will be copy edited and may be changed before publication.
    <br />
    <p class="article">
    <a href="{{article.slug}}.pdf" target="_blank">{{article.title}}</a><br />
    {{article.author | join: ", "}}
    {% if article.abstract %}<p>{{article.abstract}}</p>{% endif %}
    {% if article.acknowledged %}Received: {{article.acknowledged}}, 
      online {{article.online}}{% endif %}<br />
    {% if article.CRANpkgs %}CRAN packages: {{article.CRANpkgs | join: ", "}}
      {% endif %}
    {% if article.CTVs %}{{", "}}CRAN Task Views: 
      {{article.CTVs | join: ", "}}{% endif %}
    {% if article.BIOpkgs %}{{", "}}Bioconductor packages: 
      {{article.BIOpkgs | join: ", "}}{% endif %}<br />
    </p><br />
    <img src="../../by.png" width="80" height="15" alt="CC BY 4.0" />
    <br />This article is licensed under a
    <a href="https://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 International license</a>.<br /><br /></p>
<pre>
@article{RJ-2017-001,
  author = {Taylor Arnold and Michael J. Kane and and Simon Urbanek},
  title = {iotools: High-Performance I/O Tools for R},
  year = {2017},
  journal = {The R Journal},
  url = {https://journal.r-project.org/archive/2017/RJ-2017-001/index.html}
}
</pre>

<br />

   {% endif %}
  {% endfor %}

 {% endif %}
{% endfor %}
