---
comment: This is the layout for a landing page for single articles from 2017
layout: default
---

{% assign lbrace = '{' %}
{% assign rbrace = '}' %}

{{content}}

{% for issue in site.issues %}
 {% if issue.issue == page.issue %}

  {% for article in issue.articles %} 
   {% if article.slug == page.slug %}

    {% if page.issue == "accepted" %}
      <h2>The R Journal: accepted article</h2>
      This article will be copy edited and may be changed before publication.
      <br />
    {% else %}
      <h2>The R Journal: article published in {{ issue.year }}, volume {{ issue.volume }}:{{ issue.num }}</h2>
    {% endif %}
    <p class="article">
    <a href="{{article.slug}}.pdf" target="_blank">{{article.title}} 
    <img src="../../PDF-icon.png" width="25" height="24" alt="PDF download"/></a> <br />
    {% for auth in article.author %}{% if forloop.first %}{{auth}}{% elsif forloop.last == false %}, {{auth}}{% else %} and {{auth}}{% endif %}{% endfor %}
    {% if issue.volume %}{{', '}}<i>The R Journal</i> ({{ issue.year}}) {{ issue.volume }}:{{ issue.num }}{% if article.pages %}, pages {{ article.pages | join: "-"}}.{% endif %}{% endif %}
    {% if article.abstract %}<p>{{article.abstract}}</p>{% endif %}
    {% if article.acknowledged %}Received: {{article.acknowledged}}; 
      online {{article.online}}{% endif %}{% if article.suppl %}{{", "}}<a href="{{article.slug}}.zip">supplementary material</a>, ({{article.suppl}}){% endif %}<br />
    {% if article.CRANpkgs %}CRAN packages: {% for pkg in article.CRANpkgs %}<a href="https://cran.r-project.org/package={{ pkg }}">{{ pkg }}</a>{% if forloop.last %}{{""}}{% else %}{{", "}}{% endif %}{% endfor %}<br />{% endif %}
    {% if article.CTVs %}CRAN Task Views cited directly: {% for ctv in article.CTVs %}<a href="https://cran.r-project.org/view={{ ctv }}">{{ ctv }}</a>{% if forloop.last %}{{""}}{% else %}{{", "}}{% endif %}{% endfor %}<br />{% endif %}
    {% if article.CTV_rev %}CRAN Task Views implied by cited CRAN packages: {% for ctv in article.CTV_rev %}<a href="https://cran.r-project.org/view={{ ctv }}">{{ ctv }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}<br />{% endif %}
    {% if article.BIOpkgs %}Bioconductor packages: {% for pkg in article.BIOpkgs %}<a href="https://www.bioconductor.org/packages/release/bioc/html/{{ pkg }}.html">{{ pkg }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}<br />{% endif %}<br />
    
    {% if article.landing == "2011" %}{% if issue.num == 2 %}
    </p><br />
    <img src="../../by.png" width="80" height="15" alt="CC BY" />
    <br />This article is licensed under a
    <a href="https://creativecommons.org/licenses/by/3.0/">
    Creative Commons Attribution 3.0 Unported license</a>.<br /><br /></p>{% endif %}
    {% elsif article.landing > "2011" %}
    </p><br />
    <img src="../../by.png" width="80" height="15" alt="CC BY 4.0" />
    <br />This article {% if article.suppl %}{{ "and supplementary materials are" }}{% else %}{{ "is" }}{% endif %} licensed under a
    {% if article.landing < "2017" %}
    <a href="https://creativecommons.org/licenses/by/3.0/">
    Creative Commons Attribution 3.0 Unported license</a>
    {% else %}
    <a href="https://creativecommons.org/licenses/by/4.0/">
    Creative Commons Attribution 4.0 International license</a>{% endif %}.<br /><br /></p>{% endif %}
<pre>
@article{{lbrace}}{{article.slug}},
  author = {{lbrace}}{% for authline in article.bibauthor %}{{ authline }}{% endfor %}{{rbrace}},
  title = {{lbrace}}{{lbrace}}{% for titline in article.bibtitle %}{{ titline }}{% endfor %}{{rbrace}}{{rbrace}},
  year = {{lbrace}}{{article.landing}}{{rbrace}},
  journal = {{lbrace}}{{lbrace}}The R Journal{{rbrace}}{{rbrace}},
  url = {{lbrace}}https://journal.r-project.org/archive/{{article.landing}}/{{article.slug}}/index.html{{rbrace}}{% if article.pages %},
  pages = {{lbrace}}{{ article.pages | join: "--"}}{{rbrace}},
  volume = {{lbrace}}{{ issue.volume }}{{rbrace}},
  number = {{lbrace}}{{ issue.num }}{{rbrace}}{% endif %}
}
</pre>

<br />

   {% endif %}
  {% endfor %}

 {% endif %}
{% endfor %}
